# Python
venv/
__pycache__/
*.pyc
test_deep_analysis.py

# Data
data/WELFake_Dataset.csv
data/wellfake_preprocessed.csv

# Models
models/

# Scripts
scripts/

# Env
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store

